<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-star-empty"></span>
        <strong>Special</strong>
    </div>

    <div class="list-group">
        <a href="/Product/ListBySpecial/BEST" class="list-group-item">BEST</a>
        <a href="/Product/ListBySpecial/LATEST" class="list-group-item">LATEST</a>
        <a href="/Product/ListBySpecial/PROMO" class="list-group-item">PROMO</a>
        <a href="/Product/ListBySpecial/SPECIAL" class="list-group-item">SPECIAL</a>
        <a href="/Product/ListBySpecial/VIEWS" class="list-group-item">VIEWS</a>
    </div>
</div>
