@model LedtinEShop.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details Category</h2>
<input id="printdiv" type="submit" value="Print" onclick="printContent('dvmismatch')" />
<hr />
<div id="dvmismatch" class="form-horizontal">
    <div class="form-group">    
        @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a class="btn btn-default" href="~/Admin/CategoriesManagement/Edit/@Model.Id">
            <i class="fa fa-edit"> Edit</i>
        </a>
        <a class="btn" href="~/Admin/CategoriesManagement/Index">
            <i class="fa fa-fast-backward"> Back to List</i>
        </a>
    </div>
</div>

<script>
function printContent(el){
    var restorepage = document.body.innerHTML;
    var printcontent = document.getElementById(el).innerHTML;
    document.body.innerHTML = printcontent;
    window.print();
    document.body.innerHTML = restorepage;
}
</script>

