<div class="bss-slides demo1" tabindex="1" autofocus="autofocus">
    <figure>
        <img src="~/images/slider1.jpg" width="100%" />
    </figure>
    <figure>
        <img src="~/images/slider2.jpg" width="100%" />
    </figure>
    <figure>
        <img src="~/images/slider3.jpg" width="100%" />
    </figure>
    <figure>
        <img src="~/images/slider4.jpg" width="100%" />
    </figure>
</div> <!-- // bss-slides -->

