@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h4>About LedtinOnlineShop</h4>
<p>The fashion never alters, and as it is neither disagreeable nor uneasy, so it is suited to the climate, and calculated both for their summers and winters. Every family makes their own clothes; but all among them, women as well as men, learn one or other of the trades formerly mentioned.</p>
